/target
.env
serviceAccountKey.json
hidden-test-feature.json
feature.json
rust-client/target
node_modules
short-test-feature.json
long-test-feature.json
long-test-feature2.json
execute-steps-temp.ts
temp.ts
/library/temp.ts
/library/temp

# Ignore all files within the directory
library/temp/*

# Except the directory itself
!library/temp/

# Ignore files ending with -temp.ts
*-temp.ts